<div *ngIf="!(isAuth | async)">
  <form #registerForm="ngForm" (ngSubmit)="regUser(registerForm)">
    <input type="text" name="name" required ngModel placeholder="Vasya Pupkin">
    <input type="password" name="password" required ngModel placeholder="12345">
    <input type="email" name="email" required ngModel placeholder="vasya@gmail.com">
    <button type="submit">REGISTER</button>
  </form>

  <form #loginForm="ngForm" (ngSubmit)="logUser(loginForm)">
    <input type="password" name="password" required ngModel placeholder="password">
    <input type="email" name="email" required ngModel placeholder="Your email">
    <button type="submit">LOGIN</button>
  </form>
</div>

<div *ngIf="(isAuth | async)">
  <button (click)="logOut()">LOGOUT</button>
  <button routerLink="/allhouse">SHOW ALL MY HOUSES</button>

</div>


<router-outlet></router-outlet>
